.logoFace {
	position: relative;
    left: 858px;
    top: 7px;
}
.listImg {
	float: right;
    position: relative;
    right: 122px;
    bottom: 247px;
}
img.logoFooter {
    position: relative;
    left: 96px;
    top: 95px;
}